.frends {
  display: flex;
  margin-top: 20px;
  align-items: center;

  &__logo {
    width: 60px;
  }
  &__name {
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;
    margin-left: 15px;
  }
}