.main {

  &__wrapper {
    display: flex;

  }
  &__categories {
    min-width: 265px;
    max-height: 261px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 50px;
  }

  &__categories-header {
    display: flex;
  }
  &__title-one {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
  }

  &__title-two {
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    margin-left: 19px;
  }

  &__categories-body {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    & > a:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__header {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  &__post-one {
    margin-top: 50px;
    margin-left: 40px;
    }
  &__post-two {
    margin-top: 30px;
    margin-left: 40px;
  }

  &__right-block {
    display: flex;
    flex-direction: column;
  }
  &__posts-small {
    max-width: 265px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 20px;
    max-height: 791px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: space-between;
  }
  &__header {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
  }
  &__post-small-two {
    margin-top: 30px;
  }

  &__frends {
    max-width: 265px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
    padding: 20px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 20px;
    max-height: 396px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    justify-content: space-between;
  }
  &__frends-header {
    display: flex;
    align-items: center;
  }
  &__frends-title {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    margin-right: 50px;
  }
  &__frends-all {
    font-weight: bold;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    text-decoration: none;
  }
}
.registration-window {
  background-color: #F5DB36;
  position: relative;
}