.category {
  width: fit-content;
  text-decoration: none;
  display: flex;
  padding: 0px 20px;
  height: 30px;
  border-radius: 15px;
  align-items: center;

  &__title {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  &__number {
    margin-left: 10px;
    @extend .category__title;
  }

  &_color {
    &_orange{
      background-color: #F19E22;
    }
    &_pink {
      background-color: #F122B7;
    }
    &_blue-ribbon {
      background-color: #2237F1;
    }
    &_bright-turquoise {
      background-color: #22CCF1;
    }
    &_froly {
      background-color: #EF6A6A;
    }
  }
}
