.header {
  background-color: #F5DB36;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 226.06px;
    height: 60px;
  }

  &__profile-logo {
    width: 60px;
    height: 60px;
  }
}


